DataFrame 내보내기

euc-kr, utf-8 선택은 본인 자유\
단,
xlsx은 euc-kr\
vscode는 utf-8만 인식

In [1]:
# 패키지 설치
from pandas import read_excel

데이터 가져오기

In [2]:
df = read_excel("grade.xlsx", index_col='이름')
df

    학년  성별  국어  영어  수학  과학
이름
철수   1  남자  98  77  88  64
영희   2  여자  88  90  62  72
민철   1  남자  92  70  83  79
수현   3  여자  63  60  31  70
호영   4  남자  75  50  90  88

데이터 내보내기

* 엑셀 파일로 내보내기

In [3]:
# 원본 파일 그대로 저장
df.to_excel("1.xlsx")

파라미터 설정

In [4]:
# 인덱스 포함
df.to_excel("2.xlsx",
            index=True,
            index_label='이름'
            )

실제 현장의 데이터는 보기 쉽게 주어지지 않기 때문에 엔지니어가 보기 쉽게 고쳐야함

In [5]:
df

    학년  성별  국어  영어  수학  과학
이름
철수   1  남자  98  77  88  64
영희   2  여자  88  90  62  72
민철   1  남자  92  70  83  79
수현   3  여자  63  60  31  70
호영   4  남자  75  50  90  88

In [6]:
# 인덱스를 포함하지 않는 경우
df.to_excel("3.xlsx",
            index=False,
            columns=['학년', '성별', '국어'],
            header=['level', 'sex', 'kor']
            # header를 사용해 컬럼 제목 설정 가능
            
)

CSV로 내보내기

In [7]:
# 원본 그대로 저장
df.to_csv("1.csv", encoding='utf-8')

파라미터 설정

In [8]:
# 인덱스 포함하는 경우
df.to_csv("2.csv", # 파일 이름
          encoding="utf-8",
          index=True,
          index_label="이름"
)

In [9]:
# 인덱스를 포함하지 않는 경우
df.to_csv("3.csv",
          encoding="utf-8",
          index=False,
          columns=['학년', '성별', '국어'],
          header=['level', 'sex', 'kor']
)

실습 결과물 모두 삭제 방법

In [10]:
import os
import glob as gl

In [11]:
list1 = gl.glob("*.xlsx")
list2 = gl.glob("*.csv")
list3 = list1 + list2
print(list1)
print(list2)
print(list3)

['1.xlsx', '2.xlsx', '3.xlsx', 'grade.xlsx']
['1.csv', '2.csv', '3.csv', 'grade.csv']
['1.xlsx', '2.xlsx', '3.xlsx', 'grade.xlsx', '1.csv', '2.csv', '3.csv', 'grade.csv']

In [12]:
# for items in list3:
#     os.remove(items)
#     print("%s 삭제" %items)