In [2]:
from pandas import read_excel, DataFrame

In [3]:
mydata = {
    '지역' : ['도시','도시','농촌','도시',
            '농촌','도시','도시','도시','농촌',
            '농촌','농촌','도시','농촌','도시','농촌',
            '도시','농촌','도시','농촌','농촌'],
            
    '구성' : ['남','여','공학','남','남',
            '남','여','남','남',
            '공학','여','여','남',
            '공학','남','남','여',
            '여','여','공학'],

    "흡연율" : ["0.64","0.45","0.70","0.85",
             "0.72","0.78","0.62","0.79",
             "0.75","0.81","0.56","0.48",
             "0.72","0.68","0.79","0.90",
             "0.34","0.48","0.49","0.76"]
}
mydatadf = DataFrame(mydata)
mydatadf
mydatadf.to_excel("q3.xlsx", index=False)

In [5]:
mydata2 = {
    '학생ID' : [
        '1','2','3','4',
        '5','6','7','8',
        '9','10','11','12',
        '13','14','15','16',
        '17','18','19','20',
        '21','22','23','24',
        '25','26','27','28','29','30'],
            
    '성별' : ['남','여','여','여',
            '여','여','남','여',
            '여','남','남','남',
            '남','남','남','여',
            '여','여','여','여',
            '여','여','여','여',
            '여','여','여','여','여','여'],

    '메모종류' : ['3','2','2','1',
              '2','3','2','2',
              '1','1','2','3',
              '2','1','2','2',
              '1','2','3','2',
              '2','2','2','2',
              '2','2','2','2','1','2',
    ]
}
mydatadf2 = DataFrame(mydata2)
mydatadf2
mydatadf2.to_excel("q4.xlsx", index=False)